<!Doctype html>
<html lang='pt-br'>
<head>
 <meta charset="utf-8">
 <title> Agenda Telefonica </title>
</head>
<body>
    <h1>Agenda Telefonica - Contatos </h1>

<h2>Buscar Contato </h2>
<form action="/consultar" method="POST">
    <input type="text" placeholder="Nome" name="procurado" > 
    <button type="submit">Consultar</button>
</form>

<form action="/atualizar" method="POST">
    <h2>Atualizar Contato</h2>
    <input type="text" placeholder="Código" name="procurado">
    <input type="text" placeholder="Nome" name="nome">
    <input type="text" placeholder="Sobrenome" name="sobrenome">
    <button type="submit">Atualizar</button>
</form>
    <form action="/criar" method="POST">    
    <h2>Adicionar contato</h2>
    <input type="text" placeholder="Nome" name="nome">
    <input type="text" placeholder="Sobrenome" name="sobrenome">
    <input type="number" placeholder="Telefone" name="telefone">
    <form action='file/upload' method='post' encType="multipart/form-data">
    <input type="file" name="file" />
    <input type='submit' value='Upload!' />
    </form>	
    <button type="submit">Adicionar</button>
</form>

    <form action="/deletar" method="POST">
    <h2>Deletar contato(Delete)</h2>
    <input type="text" placeholder="Código" name="procurado">
    <button type="submit">Deletar</button>   
</form>


</body>
</html> 